@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="h5">to</p>
    <p class="lead"><span class="h4 text-info">George Udosen's</span> <span class="h4">CICD ASP.NET</span> Application Using <span class="h4">Jenkins</span> and <span class="h4">Nginx Backend</span></p>
</div>
